.radio__options
    display: flex
    margin-bottom: 1rem
    border: 2px solid var(--bg-accent)
    border-radius: .25rem

.radio__option
    flex-basis: 0
    flex-grow: 1
    margin: -1px 0 // to fix weird mobile border gap
    padding: .15rem 0
    color: var(--bg-accent)
    font-size: .8rem
    line-height: 1.5rem
    border: 0
    transition-property: background-color, color
    cursor: pointer

.radio__option--active
    color: var(--font-accent)
    background-color: var(--bg-accent)

@media #{$iPhone6}
    .radio__option
        font-size: .9rem
        line-height: 1.8rem
