.button
    height: 2rem
    color: var(--bg-accent)
    background-color: var(--bg-primary)
    border: 1px solid var(--bg-accent)
    border-radius: 10px

.button--active
    color: var(--font-accent)
    background-color: var(--bg-accent)

.button--disabled
    color: var(--disabled)
    border-color: var(--disabled)

.button--inverse
    height: 3rem

    .button__subtitle
        font-size: 1.5rem

.button__title
    display: block
