.speakers
    display: flex
    flex-direction: row

.speakers__column
    padding: 0 .5rem 0 1rem
    text-align: center

    + .speakers__column
        padding: 0 1rem 0 .5rem

.speakers__button
    margin: .25rem 0
    width: 100%
