@import "../../style/variables"

.preptime__heading
    align-self: flex-end
    margin-bottom: .75rem
    margin-top: 0
    width: 100%
    font-size: 1.1rem
    font-weight: 200
    text-align: center

@media #{$iPhone6}
    .preptime__heading
        margin-bottom: 1.25rem
        font-size: 1.25rem

@media #{$iPhone6Plus}
    .preptime__heading
        font-size: 1.5rem

@media #{$iPad}
    .preptime__heading
        font-size: 2rem
