@import "../../style/variables"

.toolbar
    display: flex
    justify-content: center
    background-color: var(--bg-secondary)

.toolbar__button
    max-width: #{$maxContainerWidth / 2}
    padding: .4rem 0
    width: 50%
    color: var(--font-secondary)
    font-size: .6rem
    font-weight: 300
    cursor: pointer

.toolbar__button-icon
    margin-bottom: .2rem

    svg
        height: 1.25rem
        fill: var(--font-secondary)

@media #{$iPhone6}
    .toolbar__button
        padding: .5rem 0
        font-size: .75rem

@media #{$iPad}
    .toolbar__button
        padding: .75rem 0
        font-size: 1rem

    .toolbar__button-icon svg
        height: 1.75rem

@media #{$iPhoneLandscape}
    .toolbar
        flex-direction: column
        margin-left: 1.5rem

    .toolbar__button
        height: 50%
        padding: 0 .5rem
        width: 100%
