.toolbar
    display: flex
    justify-content: center
    background-color: var(--bg-secondary)

.toolbar__button
    padding: .4rem
    width: calc(min(50%, 300px))
    color: var(--font-secondary)
    font-size: .6rem
    font-weight: 300
    cursor: pointer

.toolbar__button-icon
    margin-bottom: .2rem

    svg
        height: 1.25rem
        fill: var(--font-secondary)
