.about__paragraph--link
    text-align: center

    a
        color: var(--bg-accent)
        text-decoration: none

        &:hover
            text-decoration: underline

.about__logo
    display: block
    margin: 4rem auto 0
    max-width: 300px
    width: 75%

@media #{$iPhoneLandscape}
    .about__logo
        margin-top: 2rem
        max-height: 25vh
        width: auto
