@import "../../style/variables"

.screen--timer
    display: flex
    flex-direction: column
    justify-content: space-between
    overflow: hidden

.header, .speakers, .preptime, .time-slots-carousel
    flex-grow: 1

.speakers, .preptime, .time-slots-carousel
    --padding-x: 1rem
    align-self: center
    max-width: calc(#{$maxContainerWidth} + (var(--padding-x) * 2))
    width: 100vw

.speakers, .preptime
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly

.speakers__column, .preptime__button
    width: calc((100% - (var(--padding-x) * 3)) / 2)

@media #{$iPad}
    .speakers, .preptime, .time-slots-carousel
        justify-content: space-between
        --padding-x: 4rem
        max-width: $maxContainerWidth

    .speakers__column, .preptime__button
        width: calc((100% - var(--padding-x)) / 2)

@media #{$iPhoneLandscape}
    .screen--timer
        flex-direction: row

    .header
        flex-basis: 15%

    .speakers
        flex-basis: 40%

    .preptime
        flex-basis: 20%

    .speakers, .preptime
        width: auto

    .speakers__column
        // width: 15vw

    .preptime__button
        width: 100%
