@import "../../style/variables"

.screen--timer
    display: flex
    flex-direction: column
    justify-content: space-between

.header, .speakers, .preptime
    flex-grow: 1

.speakers, .preptime
    align-self: center
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
    max-width: $maxContainerWidth
    width: 100vw

.speakers__column, .preptime__button
    width: calc((100% - 3rem) / 2)
