@import "../../style/variables"

.header
    display: flex
    flex-direction: column
    justify-content: space-evenly
    text-align: center

.header__time
    display: block
    margin: 1vh 0
    font-size: 9vh
    font-weight: 300

.header__time--disabled
    opacity: calc(var(--disabled-opacity) - .25)

.header__button
    height: 2.75rem
    max-width: 350px
    margin: 0 auto
    width: 60%

@media #{$iPhone6}
    .header__time
        font-size: 10vh

@media #{$iPhone6}
    .header__button
        height: 3rem

@media #{$iPhoneX}
    .header__button
        height: 3.5rem

@media #{$iPad}
    .header__button
        height: 4rem

@media #{$iPhoneLandscape}
    .header
        justify-content: center
        margin-left: 1.5rem

    .header__time
        margin: 0 0 1rem
        font-size: 7vw

    .header__button
        height: 15vh
        width: 100%
