.nav
    display: flex
    align-items: center
    justify-content: space-between
    background-color: var(--bg-secondary)

.nav__back, .nav__filler
    width: 2rem

.nav__back
    fill: var(--bg-accent)

.nav__heading
    margin: 0
    font-size: 1rem
    font-weight: 300
