@import "../../style/variables"

.nav
    display: flex
    align-items: center
    height: 2.5rem
    justify-content: center
    background-color: var(--bg-secondary)
    --nav-button-width: 3rem
    --nav-button-padding: .5rem

.nav__back, .nav__filler
    height: 100%
    padding: 0 0 0 var(--nav-button-padding)
    width: var(--nav-button-width)
    text-align: left

.nav__back
    cursor: pointer

    svg
        height: .85rem
        fill: var(--bg-accent)

.nav__heading
    margin: 0
    width: calc(Min(#{$maxContainerWidth}, 100%) - 2 * (var(--nav-button-width) + var(--nav-button-padding)))
    font-size: .9rem
    font-weight: 300
    text-align: center

@media #{$iPhone6}, #{$iPhoneLandscape}
    .nav
        height: 3rem

    .nav__back svg
        height: .95rem

    .nav__heading
        font-size: 1rem
