body[data-theme="dark"]
    --bg-primary: #000000
    --bg-secondary: #1c1c1e
    --bg-accent: #3A86FF

    --font-primary: #FFFFFF
    --font-secondary: #8e8e8f
    --font-accent: #FFFFFF
    --font-grey: #B4B5B4

    --disabled-opacity: .75
