body
    --bg-primary: #FFFFFF
    --bg-secondary: #E5E5E5
    --bg-accent: #3A86FF
    --bg-popup: rgba(0, 0, 0, .45)

    --font-primary: #000000
    --font-secondary: #444444
    --font-accent: #FFFFFF
    --font-grey: #B4B5B4

    --disabled-opacity: .5
