$transitionDuration: .15s
$maxContainerWidth: 600px

// Mobile - min height
$iPhone6Breakpoint: 600px
$iPhone6PlusBreakpoint: 700px
$iPhoneXBreakpoint: 700px
$iPhoneMaxWidth: 480px

// Tablet - min width
$iPadBreakpoint: 768px
$iPadProBreakpoint: 1024px
$desktopBreakpoint: 1200px

$iPhone6: "only screen and (min-height: #{$iPhone6Breakpoint})"
$iPhone6Plus: "only screen and (min-height: #{$iPhone6PlusBreakpoint})"
$iPhoneX: "only screen and (min-height: #{$iPhoneXBreakpoint})"
$iPhoneX: "only screen and (min-height: #{$iPhoneXBreakpoint})"
$iPhoneLandscape: "only screen and (max-height: #{$iPhoneMaxWidth}) and (orientation: landscape)"

$iPad: "only screen and (min-width: #{$iPadBreakpoint}) and (min-height: #{$iPhoneMaxWidth - .1px})"
$notiPad: "only screen and (max-width: #{$iPadBreakpoint - .1px}) or (max-height: #{$iPhoneMaxWidth})"
$iPadPro: "only screen and (min-width: #{$iPadProBreakpoint}) and (min-height: #{$iPhoneMaxWidth - .1px})"

body
    --bg-accent: #3A86FF

    --font-accent: var(--bg-primary)
    --font-grey: #B4B5B4

    --party-affirmative: #C7CA2D
    // --party-affirmative-font: see theme file
    --party-negative: #D6823A
    --party-negative-font: #D6823A