.screen--settings
    display: flex
    flex-direction: column

    section
        padding: 1rem 1rem 0

.about__paragraph, .radio__label
    margin: 0 0 1rem
    font-size: .9rem
    font-weight: 300
    line-height: 1.5
